/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

*{
	font-family: 'PT Serif', serif;
}

@media(max-width: 1800px) {
	 header{
		font-size: 43px;
	}
	.box_for_h2{
		
		font-size: 35px;
		text-decoration: underline;
	}
	.department-text{
		font-size: 38px;
	}
}
@media(max-width: 1680px) {
	 header{

		font-size: 40px;
	
	}
	.box_for_h2{
		
		font-size: 35px;
		text-decoration: underline;
	}
	.department-text{
		font-size: 30px;
	}
}
@media(max-width: 1350px) {
	 header{
	
		font-size: 37px;
		
	}
	.box_for_h2{
		
		font-size: 31px;
		text-decoration: underline;
	}
	.department-text{
		font-size: 25px;
	}
}
@media(max-width: 1150px) {
	 header{
		
		font-size: 33px;
		
	}
	.box_for_h2{
		
		font-size: 28px;
		text-decoration: underline;
	}	
	.department-text{
		font-size: 22px;
	}
}
@media(max-width: 1085px) {
	 header{
		
		font-size: 33px;
		
	}
	.box_for_h2{
		
		font-size: 26px;
		text-decoration: underline;
	}	
	.content-departments>div {
		margin: 0px auto 50px;
		display: block;
	}
	.picture, .department-text{
		margin: 0 auto 10px;
		font-size: 25px;
		width: 95%;
	}
}
@media(max-width: 730px) {
	 header{
		
		font-size: 30px;
		
	}
	.box_for_h2{
		
		font-size: 23px;
		text-decoration: underline;
	}	
	.department-text{
		font-size: 20px;
	}
}
@media(max-width: 400px) {
	 header{
		
		font-size: 50px;
		
	}
	.box_for_h2{
		
		font-size: 40px;
		text-decoration: underline;
	}	
	.department-text{
		font-size: 17px;
	}
}